In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# Any results you write to the current directory are saved as output.

In [36]:
#! git remote add origin https://github.com/Sunishchal/kaggle.git  
# ! git commit -m "chilling"
# !git config --global user.email "sunishchaldev@gmail.com"
# !git config --global user.name "Sunishchal Dev"
# ! git push --set-upstream origin dev/initial
# ! git remote set-url origin https://Sunishchal:*******@github.com/Sunishchal/kaggle.git
! git status

On branch dev/initial
Your branch is up-to-date with 'origin/dev/initial'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

	kaggle/

nothing added to commit but untracked files present (use "git add" to track)

In [27]:
! Sunishchal

/bin/sh: 1: Sunishchal: not found

In [35]:
import dask.dataframe as dd
#import pandas_profiling
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error

In [8]:
paths = ['items.csv', 'sample_submission.csv', 'sales_train.csv', 'item_categories.csv', 'shops.csv', 'test.csv']
shops = pd.read_csv(paths[4])
#shops.profile_report()
items = pd.read_csv(paths[0])
#items.profile_report()
item_cats = pd.read_csv(paths[3])
#item_cats.profile_report()
test = pd.read_csv(paths[5])
#test.profile_report()
sales_train = pd.read_csv(paths[2])
#sales_train.profile_report()
sales_subm = pd.read_csv(paths[1])
#sales_subm.profile_report()
sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [9]:
sales_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [10]:
sales_train.memory_usage(deep=True).sum() / 2**20

299.5833616256714

In [11]:
df = sales_train.merge(shops, left_on='shop_id', right_on='shop_id')
df = df.merge(items, left_on='item_id', right_on='item_id')
df = df.merge(item_cats, left_on='item_category_id', right_on='item_category_id')
df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,shop_name,item_name,item_category_id,item_category_name
0,02.01.2013,0,59,22154,999.0,1.0,"Ярославль ТЦ ""Альтаир""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
1,02.01.2013,0,25,22154,999.0,1.0,"Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
2,03.01.2013,0,25,22154,999.0,1.0,"Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
3,20.01.2013,0,25,22154,999.0,1.0,"Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray
4,23.01.2013,0,25,22154,999.0,1.0,"Москва ТРК ""Атриум""",ЯВЛЕНИЕ 2012 (BD),37,Кино - Blu-Ray

In [12]:
month_sums = df.groupby('date_block_num')['item_cnt_day'].sum()

In [13]:
df.shape, sales_train.shape

((2935849, 10), (2935849, 6))

In [18]:
df.date = pd.to_datetime(df.date)

In [19]:
df['month'] = df.date.map(lambda x: x.month)

In [27]:
dfg = df.groupby(['date_block_num', 'shop_id', 'item_id'], as_index=False).agg({'item_price': 'max', 'item_category_id': 'max', 'month': 'max', 'item_cnt_day': 'sum'})
dfg.head()

,date_block_num,shop_id,item_id,item_price,item_category_id,month,item_cnt_day
0,0,0,32,221.0,40,3,6.0
1,0,0,33,347.0,37,3,3.0
2,0,0,35,247.0,40,1,1.0
3,0,0,43,221.0,40,1,1.0
4,0,0,51,130.0,57,1,2.0

In [28]:
dfg.describe()

,date_block_num,shop_id,item_id,item_price,item_category_id,month,item_cnt_day
count,1.609124e+06,1.609124e+06,1.609124e+06,1.609124e+06,1.609124e+06,1.609124e+06,1.609124e+06
mean,1.466479e+01,3.280585e+01,1.068099e+04,7.992501e+02,4.154192e+01,6.983521e+00,2.267200e+00
std,9.542322e+00,1.653701e+01,6.238883e+03,1.573740e+03,1.632365e+01,3.461164e+00,8.649882e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e-02,0.000000e+00,1.000000e+00,-2.200000e+01
25%,6.000000e+00,2.100000e+01,5.045000e+03,1.990000e+02,3.000000e+01,4.000000e+00,1.000000e+00
50%,1.400000e+01,3.100000e+01,1.049700e+04,3.990000e+02,4.000000e+01,7.000000e+00,1.000000e+00
75%,2.300000e+01,4.700000e+01,1.606000e+04,8.990000e+02,5.500000e+01,1.000000e+01,2.000000e+00
max,3.300000e+01,5.900000e+01,2.216900e+04,3.079800e+05,8.300000e+01,1.200000e+01,2.253000e+03

In [29]:
df.shape, dfg.shape

((2935849, 11), (1609124, 7))

In [30]:
x = dfg[['shop_id', 'item_category_id', 'month']]
x.head(1)

   shop_id  item_category_id  month
0        0                40      3

In [31]:
x.describe()

            shop_id  item_category_id         month
count  1.609124e+06      1.609124e+06  1.609124e+06
mean   3.280585e+01      4.154192e+01  6.983521e+00
std    1.653701e+01      1.632365e+01  3.461164e+00
min    0.000000e+00      0.000000e+00  1.000000e+00
25%    2.100000e+01      3.000000e+01  4.000000e+00
50%    3.100000e+01      4.000000e+01  7.000000e+00
75%    4.700000e+01      5.500000e+01  1.000000e+01
max    5.900000e+01      8.300000e+01  1.200000e+01

In [36]:
enc = OneHotEncoder(categories='auto').fit(x)
xenc = enc.transform(x).toarray()

In [37]:
xenc = pd.DataFrame(xenc)
xenc.head(2)

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
x = pd.concat([xenc, dfg[['item_price', 'date_block_num']]], axis=1)
y = dfg[['item_cnt_day', 'date_block_num']]

In [ ]:
xtrain = x.query("date_block_num <= 20")
xtest = x.query("date_block_num > 20")
ytrain = y.query("date_block_num <= 20")
ytest = y.query("date_block_num > 20")

xtrain = xtrain.drop(columns="date_block_num")
xtest = xtest.drop(columns="date_block_num")
ytrain = ytrain.drop(columns="date_block_num")
ytest = ytest.drop(columns="date_block_num")

xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((1107644, 157), (501480, 157), (1107644, 1), (501480, 1))

In [ ]:
rf = RandomForestRegressor(random_state=0, n_jobs=-1, n_estimators=10, max_depth=None)
rf.fit(xtrain, ytrain)
yhat = rf.predict(xtest)

C:\Users\sunishchal.dev\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [ ]:
ytest.describe()

In [ ]:
pd.DataFrame(yhat).describe()

In [ ]:
np.sqrt(mean_squared_error(ytest.values, yhat))